internet-de-las-cosas/flows - smarthouse.json
[{"id":"17de7e3.0794782","type":"subflow","name":"getFechaHora","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"16f78a82.06c335"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"16f78a82.06c335","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99","status":{"x":335,"y":150,"wires":[{"id":"16f78a82.06c335","port":0}]}},{"id":"16f78a82.06c335","type":"function","z":"17de7e3.0794782","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"9659acad.224d9","type":"tab","label":"smarthouse","disabled":false,"info":""},{"id":"a0186173.873cd","type":"inject","z":"9659acad.224d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":240,"wires":[["a0c9800b.a1f63","6c44b534.7718dc"]]},{"id":"a0c9800b.a1f63","type":"function","z":"9659acad.224d9","name":"Iniciar variables","func":"childpath = \"proyecto/3364/customer/\" + global.get('gIdCustomer')\nglobal.set('gChildpath', childpath)\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":280,"wires":[[]]},{"id":"29c26a52.fd5466","type":"comment","z":"9659acad.224d9","name":"Punto de entrada Data Serial Arduino","info":"","x":530,"y":340,"wires":[]},{"id":"c423c29a.8cb4d","type":"function","z":"9659acad.224d9","name":"Obtener trama","func":"data = msg.payload.split(\"|\")\nmsg.tipoTrama = data[0]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["d41e68e3.aa58e8"]]},{"id":"6182c319.64b75c","type":"link in","z":"9659acad.224d9","name":"","links":["af069383.446c6"],"x":395,"y":420,"wires":[["c423c29a.8cb4d"]]},{"id":"d41e68e3.aa58e8","type":"subflow:17de7e3.0794782","z":"9659acad.224d9","name":"getDate(AMD)","env":[{"name":"formato","value":"AMD","type":"str"}],"x":740,"y":420,"wires":[["ff199a95.0bbd88"]]},{"id":"ff199a95.0bbd88","type":"switch","z":"9659acad.224d9","name":"valido tipo de Trama","property":"tipoTrama","propertyType":"msg","rules":[{"t":"eq","v":"#STATUS","vt":"str"},{"t":"eq","v":"#EVENTO","vt":"str"},{"t":"eq","v":"#ALARMA","vt":"str"}],"checkall":"true","repair":true,"outputs":3,"x":960,"y":420,"wires":[["3125b635.137e3a"],["25556bd7.aceb54"],["f8397fd8.9b169"]]},{"id":"3125b635.137e3a","type":"function","z":"9659acad.224d9","name":"Objeto sensores arduino","func":"data = msg.payload.split(\"|\");\nmsg.idCustomer = data[1];\nmsg.temperatura = data[2];\nmsg.movimiento = data[3];\nmsg.humedadCasa =  data[4];\nmsg.nivelCisterna = data[5];\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["9af83c8f.8d93d"]]},{"id":"25556bd7.aceb54","type":"function","z":"9659acad.224d9","name":"Objeto pulsadores actuadores","func":"data = msg.payload.split(\"|\");\nmsg.idCustomer = data[1];\nmsg.deviceName = data[2];\nmsg.deviceValue = data[3];\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":420,"wires":[["94461fed.7a95d"]]},{"id":"f8397fd8.9b169","type":"function","z":"9659acad.224d9","name":"Objeto alarmas arduino","func":"data = msg.payload.split(\"|\");\nmsg.idCustomer = data[1];\nmsg.deviceName = data[2];\nmsg.tipo = data[3];\nmsg.deviceValue = data[4];\nmsg.zona = data[5];\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":460,"wires":[["233ca1a.19a835e"]]},{"id":"9af83c8f.8d93d","type":"link out","z":"9659acad.224d9","name":"","links":["3b71790b.992146","5d0adfb7.b0929","e474c9cf.3259f8"],"x":1435,"y":380,"wires":[]},{"id":"94461fed.7a95d","type":"link out","z":"9659acad.224d9","name":"","links":["5d0adfb7.b0929","8710f9df.752e18","a69ae756.80b038"],"x":1435,"y":420,"wires":[]},{"id":"233ca1a.19a835e","type":"link out","z":"9659acad.224d9","name":"","links":["e62896ee.ccaf08","ed00c8c9.a7ca28","64db17e5.f83738"],"x":1435,"y":460,"wires":[]},{"id":"64db17e5.f83738","type":"link in","z":"9659acad.224d9","name":"","links":["233ca1a.19a835e"],"x":395,"y":1300,"wires":[["3ecbe580.7aae6a"]]},{"id":"e5cc0f06.63f71","type":"comment","z":"9659acad.224d9","name":"Zona Dashboard","info":"","x":760,"y":1180,"wires":[]},{"id":"3ecbe580.7aae6a","type":"function","z":"9659acad.224d9","name":"Envio Data a Alarmas","func":"principal = {payload : global.get('gAlarmaPuertaPrincipal')};\ngarage = {payload : global.get('gAlarmaGarage')};\njardin = {payload : global.get('gAlarmaJardin')};\ntemperatura = {payload : global.get('gAlarmaTemperatura')};\nseguridad = {payload : global.get('gAlarmaSeguridad')};\nhumo = {payload : global.get('gAlarmaHumo')};\nreturn [principal, garage, jardin, temperatura, seguridad, humo];","outputs":6,"noerr":0,"x":760,"y":1320,"wires":[["9122feeb.233d1"],["5e35493f.fc10c8"],["2347d994.8f5c76"],["3b14ad3a.40ca62"],["2be97416.8a118c"],["be45895d.fcd278"]]},{"id":"9a959a83.89a548","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":1,"width":0,"height":0,"label":"Luz sala","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz sala","x":1080,"y":860,"wires":[]},{"id":"7f4b03b6.ab117c","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":2,"width":0,"height":0,"label":"Luz cocina - comedor","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz cocina - comedor","x":1120,"y":900,"wires":[]},{"id":"b6d6d41c.82f188","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":7,"width":0,"height":0,"label":"Luces exteriores","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luces exteriores","x":1100,"y":1100,"wires":[]},{"id":"305a865c.7d97ba","type":"comment","z":"9659acad.224d9","name":"Flow para Base de Datos","info":"","x":530,"y":540,"wires":[]},{"id":"5d0adfb7.b0929","type":"link in","z":"9659acad.224d9","name":"","links":["9af83c8f.8d93d","94461fed.7a95d"],"x":395,"y":660,"wires":[["1e4fe596.bb3f4a"]]},{"id":"89a997ca.6a4798","type":"function","z":"9659acad.224d9","name":"Insert Query Evento","func":"msg.topic = \"INSERT INTO Status (idCustomer, hora, deviceName, deviceValue) VALUES (?,?,?,?)\";\nmsg.payload = [msg.idCustomer, msg.hora, msg.deviceName, msg.deviceValue];\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":620,"wires":[["18c8a3af.9cefec"]]},{"id":"1e4fe596.bb3f4a","type":"delay","z":"9659acad.224d9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":550,"y":660,"wires":[["89a997ca.6a4798","ab583984.f23f98","47314464.a263ac"]]},{"id":"8f3e5032.2194e","type":"function","z":"9659acad.224d9","name":"Insert Query Alarma","func":"msg.topic = \"INSERT INTO Status (idCustomer, hora, deviceName, tipo, deviceValue, zona) VALUES (?,?,?,?,?,?)\";\nmsg.payload = [msg.idCustomer, msg.hora, msg.deviceName, msg.tipo, msg.deviceValue, msg.zona];\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":660,"wires":[["18c8a3af.9cefec"]]},{"id":"e62896ee.ccaf08","type":"link in","z":"9659acad.224d9","name":"","links":["233ca1a.19a835e"],"x":395,"y":600,"wires":[["8f3e5032.2194e"]]},{"id":"ab583984.f23f98","type":"function","z":"9659acad.224d9","name":"Sensores a JSON","func":"msg.childpath = global.get('gChildpath') + '/sensores'\nmsg.payload = {\n    \"temperatura\" : {\n        \"sensorValue\" : msg.temperatura,\n        \"lastUpdate\" : msg.hora\n    },\n    \"movimiento\" : {\n        \"sensorValue\" : msg.movimiento,\n        \"lastUpdate\" : msg.hora\n    },\n    \"humedadCasa\" : {\n        \"sensorValue\" : msg.humedadCasa,\n        \"lastUpdate\" : msg.hora\n    },\n    \"nivelCisterna\" : {\n        \"sensorValue\" : msg.nivelCisterna,\n        \"lastUpdate\" : msg.hora\n    },\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":700,"wires":[["8a84034c.fd521"]]},{"id":"2292d0e0.a21f7","type":"function","z":"9659acad.224d9","name":"Alarmas a JSON","func":"msg.childpath = global.get('gChildpath') + '/alarmas'\nmsg.payload = {\n   [ msg.deviceName ]: {\n    \"sensorvalue\" : msg.tipo,\n    \"sensorvalue\" : msg.devicevalue,\n    \"sensorvalue\" : msg.zona,\n    \"lastUpdate\" : msg.hora\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":780,"wires":[["8a84034c.fd521"]]},{"id":"ed00c8c9.a7ca28","type":"link in","z":"9659acad.224d9","name":"","links":["233ca1a.19a835e"],"x":395,"y":780,"wires":[["2292d0e0.a21f7"]]},{"id":"18c8a3af.9cefec","type":"firebase modify","z":"9659acad.224d9","name":"","firebaseconfig":"","childpath":"","method":"set","value":"msg.payload","priority":"msg.priority","x":1250,"y":620,"wires":[[]]},{"id":"8a84034c.fd521","type":"firebase modify","z":"9659acad.224d9","name":"","firebaseconfig":"","childpath":"","method":"set","value":"msg.payload","priority":"msg.priority","x":1310,"y":740,"wires":[[]]},{"id":"ef346174.46d45","type":"comment","z":"9659acad.224d9","name":"Inicio de variables","info":"","x":470,"y":160,"wires":[]},{"id":"1a810055.21ea2","type":"mqtt in","z":"9659acad.224d9","name":"Recibe JSON sensores","topic":"proyecto/3363/customer/_profesor-iotdevice/sensores","qos":"0","datatype":"auto","broker":"d5064ff7.13e47","x":480,"y":1220,"wires":[["3ecbe580.7aae6a"]]},{"id":"6c44b534.7718dc","type":"firebase modify","z":"9659acad.224d9","name":"","firebaseconfig":"","childpath":"","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":220,"wires":[[]]},{"id":"47314464.a263ac","type":"function","z":"9659acad.224d9","name":"Insert Query","func":"msg.topic = \"INSERT INTO status (idCustomer, hora, temperatura, HumedadCasa, nivelCisterna) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.idCustomer, msg.hora, msg.temperatura, msg.HumedadCasa, msg.nivelCisterna];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":580,"wires":[["18c8a3af.9cefec"]]},{"id":"2f5f9609.25864a","type":"function","z":"9659acad.224d9","name":"Eventos a JSON","func":"msg.childpath = global.get('gChildpath') + '/actuadores'\nmsg.payload = {\n   [ msg.deviceName ]: {\n    \"sensorvalue\" : msg.devicevalue,\n    \"lastUpdate\" : msg.hora\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["8a84034c.fd521"]]},{"id":"8710f9df.752e18","type":"link in","z":"9659acad.224d9","name":"","links":["94461fed.7a95d"],"x":395,"y":740,"wires":[["2f5f9609.25864a"]]},{"id":"7ebb3dae.6951b4","type":"function","z":"9659acad.224d9","name":"","func":"temperatura = {payload : msg.temperatura};\nmovimiento = {payload : msg.movimiento};\nhumo = {payload : msg.humo};\nnivelCisterna = {payload : msg.nivelCisterna};\nreturn [temperatura, movimiento, humo, nivelCisterna];","outputs":4,"noerr":0,"x":510,"y":1580,"wires":[["7e225a9e.548d04","fe20ec16.1573"],["e15409b7.c7f4f8","2837594f.97ad26"],["a4598f69.b388f","a96c28a1.e5b408"],["b99e5edc.d8a1c"]]},{"id":"a96c28a1.e5b408","type":"ui_gauge","z":"9659acad.224d9","name":"Nivel de humo","group":"effe8ac4.b31ec8","order":2,"width":4,"height":4,"gtype":"gage","title":"Nivel de humo","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":1700,"wires":[]},{"id":"b99e5edc.d8a1c","type":"ui_gauge","z":"9659acad.224d9","name":"Nivel Cisterna","group":"effe8ac4.b31ec8","order":1,"width":4,"height":4,"gtype":"wave","title":"Nivel Cisterna","label":"%","format":"{{value}}","min":"25","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":1740,"wires":[]},{"id":"a4598f69.b388f","type":"delay","z":"9659acad.224d9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":1640,"wires":[["1a42e00f.f03c"]]},{"id":"1a42e00f.f03c","type":"ui_chart","z":"9659acad.224d9","name":"Graf. Nivel de humo","group":"effe8ac4.b31ec8","order":3,"width":0,"height":0,"label":"Nivel de humo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":1660,"wires":[[]]},{"id":"3b71790b.992146","type":"link in","z":"9659acad.224d9","name":"","links":["9af83c8f.8d93d"],"x":375,"y":1520,"wires":[["7ebb3dae.6951b4"]]},{"id":"2be97416.8a118c","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":6,"width":0,"height":0,"label":"Alarma Seguridad","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma Seguridad","x":1110,"y":1400,"wires":[]},{"id":"be45895d.fcd278","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":5,"width":0,"height":0,"label":"Alarma Humo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma Humo","x":1100,"y":1440,"wires":[]},{"id":"2c3fdf68.6cc56","type":"function","z":"9659acad.224d9","name":"Envio Data a Luces","func":"sala = {payload : global.get('gLuzSala')};\ncocina = {payload : global.get('gLuzCocina')};\nbaño = {payload : global.get('gLuzBaño')};\ndormitorio = {payload : global.get('gLuzDormitorio')};\nlavanderia = {payload : global.get('gLuzLavanderia')};\ngarage = {payload : global.get('gLuzGarage')};\nexterior = {payload : global.get('gLuzExterior')};\ntermaAgua = {payload : global.get('gTermaAgua')};\nreturn [sala, cocina, baño, dormitorio, lavanderia, garage, exterior, termaAgua];","outputs":8,"noerr":0,"x":730,"y":1020,"wires":[["9a959a83.89a548"],["7f4b03b6.ab117c"],["94a6943c.732c48"],["a1ff512f.63d57"],["d5d8f2f.a58f41"],["36dd7dc.165e382"],["b6d6d41c.82f188"],["ea2207a.2df22f8"]]},{"id":"a69ae756.80b038","type":"link in","z":"9659acad.224d9","name":"","links":["94461fed.7a95d"],"x":395,"y":1020,"wires":[["2c3fdf68.6cc56"]]},{"id":"94a6943c.732c48","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":4,"width":0,"height":0,"label":"Luz baño","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz baño","x":1080,"y":940,"wires":[]},{"id":"ea2207a.2df22f8","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":8,"width":0,"height":0,"label":"Terma de Agua","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Terma de Agua","x":1100,"y":1140,"wires":[]},{"id":"d5d8f2f.a58f41","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":5,"width":0,"height":0,"label":"Luz lavanderia","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz lavanderia","x":1100,"y":1020,"wires":[]},{"id":"e474c9cf.3259f8","type":"link in","z":"9659acad.224d9","name":"","links":["9af83c8f.8d93d"],"x":455,"y":1840,"wires":[["50ec2974.394a48","a3301821.6d7418"]]},{"id":"50ec2974.394a48","type":"function","z":"9659acad.224d9","name":"","func":"msg.Topic = global.get('gSensorGases') + '/sensores/tempPlantaBaja'\nmsg.payload = msg.tempPlantaBaja\nreturn msg; ","outputs":1,"noerr":0,"x":590,"y":1800,"wires":[["e3543aaf.b5ac58"]]},{"id":"e3543aaf.b5ac58","type":"mqtt out","z":"9659acad.224d9","name":"Hive MQTT","topic":"","qos":"0","retain":"","broker":"d5064ff7.13e47","x":770,"y":1800,"wires":[]},{"id":"a3301821.6d7418","type":"function","z":"9659acad.224d9","name":"","func":"msg.Topic = global.get('gTopic') + '/sensores'\nmsg.payload = {\n    \"tempPlantaBaja\" : msg.tempPlantaBaja,\n\"tempPlantaAlta\" : msg.tempPlantaBaja,\n \"tempExterior\" : msg.tempExterior,\n \"nivelCisterna\" : msg.nivelCisterna,\n    \"humedadCasa\" : msg.humedadCasa\n}\nreturn msg; ","outputs":1,"noerr":0,"x":590,"y":1880,"wires":[["298276d4.a3660a"]]},{"id":"298276d4.a3660a","type":"mqtt out","z":"9659acad.224d9","name":"Hive MQTT","topic":"","qos":"0","retain":"","broker":"cad14e0f.5056a","x":790,"y":1880,"wires":[]},{"id":"fe20ec16.1573","type":"ui_gauge","z":"9659acad.224d9","name":"Temperatura","group":"effe8ac4.b31ec8","order":4,"width":"0","height":"0","gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":1540,"wires":[]},{"id":"bb67b210.881f3","type":"ui_chart","z":"9659acad.224d9","name":"Graf. Temperatura","group":"effe8ac4.b31ec8","order":5,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":1500,"wires":[[]]},{"id":"7e225a9e.548d04","type":"delay","z":"9659acad.224d9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":1500,"wires":[["bb67b210.881f3"]]},{"id":"36dd7dc.165e382","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":6,"width":0,"height":0,"label":"Luz Garage","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz Garage","x":1090,"y":1060,"wires":[]},{"id":"a1ff512f.63d57","type":"ui_led","z":"9659acad.224d9","group":"f2f47c0f.20855","order":3,"width":0,"height":0,"label":"Luz Dormitorio","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Luz Dormitorio","x":1100,"y":980,"wires":[]},{"id":"2347d994.8f5c76","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":3,"width":0,"height":0,"label":"Alarma Jardin","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma Jardin","x":1100,"y":1320,"wires":[]},{"id":"5e35493f.fc10c8","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":2,"width":0,"height":0,"label":"Alarma Garage","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma Garage","x":1100,"y":1280,"wires":[]},{"id":"9122feeb.233d1","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":1,"width":0,"height":0,"label":"Alarma puerta principal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma puerta principal","x":1130,"y":1240,"wires":[]},{"id":"7e356ec.125929","type":"function","z":"9659acad.224d9","d":true,"name":"Inicio de variables","func":"topic = \"proyecto/smarthouse/customer/\" + global.get('gIdCustomer')\nglobal.set('gTopic', topic)\n\nglobal.set('gNombre', \"\")\nglobal.set('gTelefono', \"\")\nglobal.set('gCorreo', \"\")\nglobal.set('gDireccion', \"\")\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[[]]},{"id":"3b14ad3a.40ca62","type":"ui_led","z":"9659acad.224d9","group":"ef49ae57.824dd","order":4,"width":0,"height":0,"label":"Alarma temperatura","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Alarma temperatura","x":1120,"y":1360,"wires":[]},{"id":"2837594f.97ad26","type":"ui_gauge","z":"9659acad.224d9","name":"Movimiento","group":"effe8ac4.b31ec8","order":6,"width":0,"height":0,"gtype":"gage","title":"Movimiento","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":1620,"wires":[]},{"id":"92b97daf.dfce","type":"ui_chart","z":"9659acad.224d9","name":"Graf. Movimiento","group":"effe8ac4.b31ec8","order":7,"width":0,"height":0,"label":"Movimiento","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":1580,"wires":[[]]},{"id":"e15409b7.c7f4f8","type":"delay","z":"9659acad.224d9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":1580,"wires":[["92b97daf.dfce"]]},{"id":"f2f47c0f.20855","type":"ui_group","z":"","name":"Luces","tab":"c5172e60.d14b7","order":1,"disp":true,"width":"4","collapse":false},{"id":"d5064ff7.13e47","type":"mqtt-broker","z":"","name":"hiveMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"effe8ac4.b31ec8","type":"ui_group","z":"","name":"Sensores","tab":"c5172e60.d14b7","order":3,"disp":true,"width":"8","collapse":true},{"id":"ef49ae57.824dd","type":"ui_group","z":"","name":"Alarmas","tab":"c5172e60.d14b7","order":2,"disp":true,"width":"4","collapse":false},{"id":"cad14e0f.5056a","type":"mqtt-broker","z":"","name":"hiveMQTT","broker":" broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5172e60.d14b7","type":"ui_tab","z":"","name":"Luces - alarmas","icon":"dashboard","order":16,"disabled":false,"hidden":false}]