internet-de-las-cosas/flows (8).json
[{"id":"ff9cd34.de9143","type":"tab","label":"Remote Controller","disabled":false,"info":""},{"id":"b45057c5.8f7d58","type":"subflow","name":"getFechaHora","info":"","category":"","in":[],"out":[],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99"},{"id":"618c5a06.9531f4","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"5d20bbfd.866fb4"}]}],"out":[{"x":330,"y":75,"wires":[{"id":"5d20bbfd.866fb4","port":0}]}],"env":[{"name":"formato","type":"str","value":"MDA"}],"color":"#DDAA99"},{"id":"e7441e26.0cf98","type":"subflow","name":"getFechaHora (2)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"7540840e.11798c"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"7540840e.11798c","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99"},{"id":"233f85d7.0c906a","type":"subflow","name":"getFechaHora (3)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"3fba2a33.65a426"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"3fba2a33.65a426","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99","status":{"x":335,"y":150,"wires":[{"id":"3fba2a33.65a426","port":0}]}},{"id":"7d112cb5.73b524","type":"subflow","name":"getFechaHora (4)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"316b6a2d.44c156"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"316b6a2d.44c156","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99","status":{"x":335,"y":150,"wires":[{"id":"316b6a2d.44c156","port":0}]}},{"id":"a1038240.892b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4958be8.ea7008","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"cefb8e77.20234","type":"ui_group","name":"Group 1","tab":"a4958be8.ea7008","order":1,"disp":true,"width":6},{"id":"3973116f.89500e","type":"ui_group","name":"Group 1","tab":"4af0f1be.6f545","order":1,"disp":true,"width":6},{"id":"4af0f1be.6f545","type":"ui_tab","z":"","name":"Block 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b23773b6.b8bdf","type":"MySQLdatabase","z":"","name":"databaseminaya","host":"remotemysql.com","port":"3306","db":"Oq6Ouo02gU","tz":""},{"id":"99441cc.7e3cfe","type":"ui_group","z":"","name":"Controlador de Eventos","tab":"1c1e61e3.b008ee","order":1,"disp":true,"width":"5","collapse":true},{"id":"1c1e61e3.b008ee","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7c85b2ea.5a7d5c","type":"MySQLdatabase","z":"","name":"Remote MySQL","host":"remotemysql.com","port":"3306","db":"5Ndj70uSZs","tz":""},{"id":"f1275eed.033ca","type":"ui_group","z":"","name":"Group 1","tab":"d7cfc8b5.02f4e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d7cfc8b5.02f4e8","type":"ui_tab","z":"","name":"Bloque 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2e716fb3.3bce4","type":"MySQLdatabase","z":"","name":"Remote MySQL","host":"remotemysql.com","port":"3306","db":"5Ndj70uSZs","tz":""},{"id":"650e9fb.71b106","type":"ui_group","z":"","name":"Sensores","tab":"21008613.21280a","order":1,"disp":true,"width":"6","collapse":false},{"id":"21008613.21280a","type":"ui_tab","z":"","name":"Bloque 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ab37dac7.d43ad8","type":"ui_group","z":"","name":"Actuadores","tab":"21008613.21280a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d89d86ff.dd3188","type":"firebase config","z":"","firebaseurl":"jbobadilla-cursoiot","loginType":"none"},{"id":"a9c11024.f9c76","type":"firebase config","z":"","firebaseurl":"rbenitez-cursoiot","loginType":"none"},{"id":"5c3aab9b.f50de4","type":"ui_tab","z":"","name":"Cliente","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c19668e3.5c0578","type":"ui_group","z":"","name":"Registro Cliente","tab":"5c3aab9b.f50de4","order":1,"disp":true,"width":"6","collapse":false},{"id":"46fc572a.bafca8","type":"ui_group","z":"","name":"Controlador de Eventos","tab":"4999e62e.880d88","order":1,"disp":true,"width":"5","collapse":true},{"id":"198d4d04.3eb993","type":"ui_group","z":"","name":"Alarmas","tab":"4999e62e.880d88","order":2,"disp":true,"width":"6","collapse":false},{"id":"4999e62e.880d88","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c2a411e2.996f1","type":"ui_group","z":"","name":"Info Cliente","tab":"21008613.21280a","order":3,"disp":true,"width":"6","collapse":false},{"id":"a9d85d7.1bd16a","type":"mqtt-broker","z":"","name":"hiveMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f8cc1b0.544ace","type":"ui_tab","z":"","name":"Remote Controller","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"cee4583f.7162c8","type":"ui_group","z":"","name":"Info Cliente","tab":"1f8cc1b0.544ace","order":1,"disp":true,"width":"6","collapse":false},{"id":"8145e5cf.6ae228","type":"ui_group","z":"","name":"Monitor Sensores Casa","tab":"1f8cc1b0.544ace","order":2,"disp":true,"width":"12","collapse":false},{"id":"5d20bbfd.866fb4","type":"function","z":"618c5a06.9531f4","name":"Fechav2","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        dt = currentdate.getMonth()+1 + \"/\" +\n        currentdate.getDate() + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        \n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":195,"y":75,"wires":[[]]},{"id":"7540840e.11798c","type":"function","z":"e7441e26.0cf98","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"3fba2a33.65a426","type":"function","z":"233f85d7.0c906a","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"316b6a2d.44c156","type":"function","z":"7d112cb5.73b524","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"b0b0df78.95ffa","type":"mqtt in","z":"ff9cd34.de9143","name":"Recibe Json Sensores","topic":"proyecto/3364/customer/jbobadilla-iotdevice/sensores","qos":"0","datatype":"json","broker":"a9d85d7.1bd16a","x":130,"y":195,"wires":[["4619c927.add6e8","64836987.badbe8"]]},{"id":"cfcf991f.2fb768","type":"comment","z":"ff9cd34.de9143","name":"Recibe Data","info":"","x":100,"y":75,"wires":[]},{"id":"d47bd5ae.0b1168","type":"comment","z":"ff9cd34.de9143","name":"Suscribir a topic","info":"","x":110,"y":135,"wires":[]},{"id":"4619c927.add6e8","type":"debug","z":"ff9cd34.de9143","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":195,"wires":[]},{"id":"bfa174e0.85cb28","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":0,"width":"5","height":"5","gtype":"gage","title":"Planta Baja ","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":285,"wires":[]},{"id":"6f9d174f.9e9898","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":1,"width":"5","height":"5","gtype":"gage","title":"Planta Alta","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":330,"wires":[]},{"id":"63e06f68.54e92","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":2,"width":"5","height":"5","gtype":"gage","title":"Exterior","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":405,"y":375,"wires":[]},{"id":"2be80e4f.fef872","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":3,"width":"5","height":"5","gtype":"gage","title":"%Humedad","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":420,"wires":[]},{"id":"64836987.badbe8","type":"function","z":"ff9cd34.de9143","name":"","func":"vTempPlantaBaja = {payload: msg.payload.tempPlantaBaja}\nvTempPlantaAlta = {payload: msg.payload.tempPlantaAlta}\nvTempExterior = {payload: msg.payload.tempExterior}\nvHumedadCasa = {payload: msg.payload.humedadCasa}\n\nreturn [vTempPlantaBaja, vTempPlantaAlta, vTempExterior, vHumedadCasa];","outputs":4,"noerr":0,"x":230,"y":330,"wires":[["bfa174e0.85cb28"],["6f9d174f.9e9898"],["63e06f68.54e92"],["2be80e4f.fef872","4a8f2363.516afc"]]},{"id":"4a8f2363.516afc","type":"debug","z":"ff9cd34.de9143","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":385,"y":510,"wires":[]}]