internet-de-las-cosas/flows - simulador - smarthouse.json
[{"id":"6f4f2257.2f8a7c","type":"tab","label":"Proyecto simulador smarthouse","disabled":false,"info":""},{"id":"f4db9a53.fc9bf8","type":"comment","z":"6f4f2257.2f8a7c","name":"Declara variables","info":"","x":140,"y":100,"wires":[]},{"id":"5a6c3c67.a5da74","type":"inject","z":"6f4f2257.2f8a7c","name":"Arduino setup()","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":160,"wires":[["2bc18fcb.b5e09"]]},{"id":"b9d18256.a8286","type":"inject","z":"6f4f2257.2f8a7c","name":"Arduino loop()","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":220,"wires":[["ef57cb47.a98db8"]]},{"id":"2bc18fcb.b5e09","type":"function","z":"6f4f2257.2f8a7c","name":"Declarar inicio de variables","func":"\nglobal.set('gIdCustomer', 'luisrios-iotdevice');\n\n//INPUTS\n_temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\nglobal.set('gTemperatura', _temp);\nglobal.set('gMovimiento', _temp);\n_temp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\nglobal.set('gHumedadCasa', _temp);\n_temp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\nglobal.set('gNivelCisterna', _temp);\n\n//OUTPUTS\n//1. Actuadores\nglobal.set('gLuzSala', 0);\nglobal.set('gLuzBaño', 0);\nglobal.set('gLuzCocina', 0);\nglobal.set('gLuzDormitorio', 0);\nglobal.set('gLuzLavanderia', 0);\nglobal.set('gLuzExterior', 0);\nglobal.set('gLuzGarage', 0);\nglobal.set('gTermaAgua', 0);\n\n//2. Alarmas\nglobal.set('gAlarmaPuertaPrincipal', 0);\nglobal.set('gAlarmaGarage', 0);\nglobal.set('gAlarmaJardin', 0);\nglobal.set('gAlarmaHumo', 0);\nglobal.set('gAlarmaSeguridad', 0);\nglobal.set('gAlarmaTemperautra', 0);\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[[]]},{"id":"ef57cb47.a98db8","type":"function","z":"6f4f2257.2f8a7c","name":"Generador de señales","func":"\nvar temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gTemperatura') * 0.5;\nglobal.set('gTemperatura', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gMovimiento') * 0.5;\nglobal.set('gMovimiento', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\ntemp = temp * 0.3 + global.get('gHumedadCasa') * 0.7;\nglobal.set('gHumedadCasa', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\ntemp = temp * 0.4 + global.get('gNivelCisterna') * 0.6;\nglobal.set('gNivelCisterna', temp.toFixed(2)); //2 decimales\n\nmsg.payload = \"#STATUS\" +\n    \"|\" + global.get('gTemperatura') + \n    \"|\" + global.get('gMovimiento') + \n    \"|\" + global.get('gHumo') + \n    \"|\" + global.get('gNivelCisterna'); \n  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["af069383.446c6"]]},{"id":"38787019.a11f8","type":"function","z":"6f4f2257.2f8a7c","name":"Event controller","func":"msg.payload = \"#EVENTO\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.deviceValue;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["af069383.446c6"]]},{"id":"7240a957.60cf48","type":"function","z":"6f4f2257.2f8a7c","name":"Alert controller","func":"msg.payload = \"#ALARMA\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.tipo + \n    \"|\" + msg.deviceValue + \n    \"|\" + msg.zona;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["af069383.446c6"]]},{"id":"f0b7c7d0.84b708","type":"link in","z":"6f4f2257.2f8a7c","name":"","links":["db3b6c55.61e02"],"x":75,"y":280,"wires":[["38787019.a11f8"]],"icon":"node-red/light.svg"},{"id":"f7de1111.bd53d","type":"link in","z":"6f4f2257.2f8a7c","name":"","links":["6b091eb.325fde"],"x":75,"y":320,"wires":[["7240a957.60cf48"]],"icon":"node-red/comment.svg"},{"id":"af069383.446c6","type":"link out","z":"6f4f2257.2f8a7c","name":"","links":["6182c319.64b75c"],"x":555,"y":280,"wires":[],"icon":"node-red/trigger.svg"},{"id":"87dbaf2e.c45ad","type":"comment","z":"6f4f2257.2f8a7c","name":"Disparador de eventos por Panel de control","info":"Simulamos una ccon diferentes sensores que monitorean su funcionamiento","x":220,"y":380,"wires":[]},{"id":"687dab87.349284","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz cocina - comedor","label":"Luz cocina - comedor","tooltip":"Enciende / apaga la luz del ambiente","group":"4cd8bf95.e1f18","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":500,"wires":[["5b2562aa.fc239c"]]},{"id":"f1a296b2.dc3c08","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz dormitorio","label":"Luz dormitorio","tooltip":"Enciende / apaga la luz del ambiente","group":"4cd8bf95.e1f18","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":540,"wires":[["b3bc73be.c01ad"]]},{"id":"5b2562aa.fc239c","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzCocina' , msg.payload)\nmsg.deviceName = \"Luz Cocina\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["db3b6c55.61e02"]]},{"id":"b3bc73be.c01ad","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzDormitorio' , msg.payload);\nmsg.deviceName = \"Luz Dormitorio\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["db3b6c55.61e02"]]},{"id":"db3b6c55.61e02","type":"link out","z":"6f4f2257.2f8a7c","name":"","links":["f0b7c7d0.84b708"],"x":555,"y":640,"wires":[],"icon":"node-red/light.svg"},{"id":"88bd9536.1eb2a8","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luces exteriores","label":"Luces exteriores","tooltip":"","group":"4cd8bf95.e1f18","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":700,"wires":[["472f8581.8537bc"]]},{"id":"ed0a6503.a93c78","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz Sala","label":"Luz Sala","tooltip":"","group":"4cd8bf95.e1f18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":460,"wires":[["43dc01ce.12ea2"]]},{"id":"472f8581.8537bc","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzExterior' , msg.payload);\nmsg.deviceName = \"Luz Exterior\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["db3b6c55.61e02"]]},{"id":"43dc01ce.12ea2","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzSala' , msg.payload);\nmsg.deviceName = \"Luz Sala\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["db3b6c55.61e02"]]},{"id":"e8bba1dd.2d669","type":"comment","z":"6f4f2257.2f8a7c","name":"Simulador arduino","info":"","x":290,"y":40,"wires":[]},{"id":"832dfe60.3f701","type":"ui_slider","z":"6f4f2257.2f8a7c","name":"Sensor de humo (0-100)","label":"Sensor de humo (0-100)","tooltip":"","group":"cb719a03.5120c8","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":170,"y":900,"wires":[["90f1daaf.f47f28"]]},{"id":"90f1daaf.f47f28","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaHumo' , msg.payload)\nmsg.deviceName = \"Sensor Humo\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Cocina\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n    case (msg.payload <= 100):\n        msg.tipo = \"CONTAMINADO\";\n        break;\n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":900,"wires":[["6b091eb.325fde"]]},{"id":"6b091eb.325fde","type":"link out","z":"6f4f2257.2f8a7c","name":"","links":["f7de1111.bd53d"],"x":515,"y":860,"wires":[],"icon":"node-red/comment.svg"},{"id":"de484d56.c5acb","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Alarma puerta principal","label":"Alarma puerta principal","tooltip":"","group":"cb719a03.5120c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":170,"y":780,"wires":[["65594201.94be4c"]]},{"id":"7fb818c.569ede8","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"","label":"Alarma puerta Garage","tooltip":"","group":"cb719a03.5120c8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":820,"wires":[["545d5801.370ce8"]]},{"id":"545d5801.370ce8","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaGarage' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Puerta garage\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":820,"wires":[["6b091eb.325fde"]]},{"id":"65594201.94be4c","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaPuertaPrincipal' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Puerta principal\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["6b091eb.325fde"]]},{"id":"4749114.a7c40f","type":"ui_slider","z":"6f4f2257.2f8a7c","name":"Sensor de movimiento (0-100)","label":"Sensor de movimiento (0-100)","tooltip":"","group":"cb719a03.5120c8","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":190,"y":940,"wires":[["dba99f09.22b6e"]]},{"id":"dba99f09.22b6e","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaSeguridad' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Interior\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":940,"wires":[["6b091eb.325fde"]]},{"id":"73d7978c.f3ce78","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"","label":"Alarma jardin exterior","tooltip":"","group":"cb719a03.5120c8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":860,"wires":[["2efb8106.413d8e"]]},{"id":"2efb8106.413d8e","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaJardin' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Jardin exterior\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["6b091eb.325fde"]]},{"id":"baf01558.528188","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz baño","label":"Luz servicio","tooltip":"","group":"4cd8bf95.e1f18","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":580,"wires":[["fdf78749.a06618"]]},{"id":"9e14aa4b.993ba8","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"","label":"Terma de agua","tooltip":"","group":"4cd8bf95.e1f18","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"num","onicon":"","oncolor":"","offvalue":false,"offvalueType":"num","officon":"","offcolor":"","x":140,"y":740,"wires":[["3604913f.0bf37e"]]},{"id":"fdf78749.a06618","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzservicio' , msg.payload)\nmsg.deviceName = \"Luz servicio\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["db3b6c55.61e02"]]},{"id":"3604913f.0bf37e","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gTermaAgua' , msg.payload)\nmsg.deviceName = \"Terma Agua\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["db3b6c55.61e02"]]},{"id":"66fec19.0d9c74","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz garage","label":"Luz garage","tooltip":"","group":"4cd8bf95.e1f18","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":660,"wires":[["bdf0ed8d.166ef"]]},{"id":"bdf0ed8d.166ef","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzGarage' , msg.payload);\nmsg.deviceName = \"Luz Garage\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["db3b6c55.61e02"]]},{"id":"d30a005e.af2e","type":"ui_switch","z":"6f4f2257.2f8a7c","name":"Luz lavanderia","label":"Luz lavanderia","tooltip":"","group":"4cd8bf95.e1f18","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":620,"wires":[["d48211d0.14275"]]},{"id":"d48211d0.14275","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gLuzlavanderia' , msg.payload)\nmsg.deviceName = \"Luz lavanderia\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["db3b6c55.61e02"]]},{"id":"101279d4.0eff36","type":"ui_slider","z":"6f4f2257.2f8a7c","name":"Sensor de temperatura (0-100)","label":"Sensor de temperatura (0-100)","tooltip":"","group":"cb719a03.5120c8","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":190,"y":980,"wires":[["df31d812.91baf8"]]},{"id":"df31d812.91baf8","type":"function","z":"6f4f2257.2f8a7c","name":"","func":"global.set('gAlarmaTemperatura' , msg.payload)\nmsg.deviceName = \"Sensor Temperatura\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Interior\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":980,"wires":[["6b091eb.325fde"]]},{"id":"4cd8bf95.e1f18","type":"ui_group","z":"","name":"Pulsadores","tab":"ce2efb1d.fc95c8","order":1,"disp":true,"width":"5","collapse":false},{"id":"cb719a03.5120c8","type":"ui_group","z":"","name":"Alarmas","tab":"ce2efb1d.fc95c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce2efb1d.fc95c8","type":"ui_tab","z":"","name":"Controlador de eventos","icon":"dashboard","order":15,"disabled":false,"hidden":false}]