Internet de las cosas/flows (9).json
[{"id":"ff9cd34.de9143","type":"tab","label":"Remote Controller","disabled":false,"info":""},{"id":"2e1ed24a.38967e","type":"tab","label":"Proyecto simulador smarthouse","disabled":false,"info":""},{"id":"b45057c5.8f7d58","type":"subflow","name":"getFechaHora","info":"","category":"","in":[],"out":[],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99"},{"id":"618c5a06.9531f4","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"5d20bbfd.866fb4"}]}],"out":[{"x":330,"y":75,"wires":[{"id":"5d20bbfd.866fb4","port":0}]}],"env":[{"name":"formato","type":"str","value":"MDA"}],"color":"#DDAA99"},{"id":"e7441e26.0cf98","type":"subflow","name":"getFechaHora (2)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"7540840e.11798c"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"7540840e.11798c","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99"},{"id":"233f85d7.0c906a","type":"subflow","name":"getFechaHora (3)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"3fba2a33.65a426"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"3fba2a33.65a426","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99","status":{"x":335,"y":150,"wires":[{"id":"3fba2a33.65a426","port":0}]}},{"id":"7d112cb5.73b524","type":"subflow","name":"getFechaHora (4)","info":"","category":"","in":[{"x":60,"y":75,"wires":[{"id":"316b6a2d.44c156"}]}],"out":[{"x":360,"y":75,"wires":[{"id":"316b6a2d.44c156","port":0}]}],"env":[{"name":"formato","type":"str","value":"DMA"}],"color":"#DDAA99","status":{"x":335,"y":150,"wires":[{"id":"316b6a2d.44c156","port":0}]}},{"id":"a1038240.892b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4958be8.ea7008","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"cefb8e77.20234","type":"ui_group","name":"Group 1","tab":"a4958be8.ea7008","order":1,"disp":true,"width":6},{"id":"3973116f.89500e","type":"ui_group","name":"Group 1","tab":"4af0f1be.6f545","order":1,"disp":true,"width":6},{"id":"4af0f1be.6f545","type":"ui_tab","z":"","name":"Block 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b23773b6.b8bdf","type":"MySQLdatabase","z":"","name":"databaseminaya","host":"remotemysql.com","port":"3306","db":"Oq6Ouo02gU","tz":""},{"id":"99441cc.7e3cfe","type":"ui_group","z":"","name":"Controlador de Eventos","tab":"1c1e61e3.b008ee","order":1,"disp":true,"width":"5","collapse":true},{"id":"1c1e61e3.b008ee","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7c85b2ea.5a7d5c","type":"MySQLdatabase","z":"","name":"Remote MySQL","host":"remotemysql.com","port":"3306","db":"5Ndj70uSZs","tz":""},{"id":"f1275eed.033ca","type":"ui_group","z":"","name":"Group 1","tab":"d7cfc8b5.02f4e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d7cfc8b5.02f4e8","type":"ui_tab","z":"","name":"Bloque 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2e716fb3.3bce4","type":"MySQLdatabase","z":"","name":"Remote MySQL","host":"remotemysql.com","port":"3306","db":"5Ndj70uSZs","tz":""},{"id":"650e9fb.71b106","type":"ui_group","z":"","name":"Sensores","tab":"21008613.21280a","order":1,"disp":true,"width":"6","collapse":false},{"id":"21008613.21280a","type":"ui_tab","z":"","name":"Bloque 3364","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ab37dac7.d43ad8","type":"ui_group","z":"","name":"Actuadores","tab":"21008613.21280a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d89d86ff.dd3188","type":"firebase config","z":"","firebaseurl":"jbobadilla-cursoiot","loginType":"none"},{"id":"a9c11024.f9c76","type":"firebase config","z":"","firebaseurl":"rbenitez-cursoiot","loginType":"none"},{"id":"5c3aab9b.f50de4","type":"ui_tab","z":"","name":"Cliente","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c19668e3.5c0578","type":"ui_group","z":"","name":"Registro Cliente","tab":"5c3aab9b.f50de4","order":1,"disp":true,"width":"6","collapse":false},{"id":"46fc572a.bafca8","type":"ui_group","z":"","name":"Controlador de Eventos","tab":"4999e62e.880d88","order":1,"disp":true,"width":"5","collapse":true},{"id":"198d4d04.3eb993","type":"ui_group","z":"","name":"Alarmas","tab":"4999e62e.880d88","order":2,"disp":true,"width":"6","collapse":false},{"id":"4999e62e.880d88","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c2a411e2.996f1","type":"ui_group","z":"","name":"Info Cliente","tab":"21008613.21280a","order":3,"disp":true,"width":"6","collapse":false},{"id":"a9d85d7.1bd16a","type":"mqtt-broker","z":"","name":"hiveMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f8cc1b0.544ace","type":"ui_tab","z":"","name":"Remote Controller","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"cee4583f.7162c8","type":"ui_group","z":"","name":"Info Cliente","tab":"1f8cc1b0.544ace","order":1,"disp":true,"width":"6","collapse":false},{"id":"8145e5cf.6ae228","type":"ui_group","z":"","name":"Monitor Sensores Casa","tab":"1f8cc1b0.544ace","order":2,"disp":true,"width":"12","collapse":false},{"id":"875846b7.fa6a68","type":"ui_group","z":"","name":"Pulsadores","tab":"3d539579.c59b3a","order":1,"disp":true,"width":"5","collapse":false},{"id":"c1e276d3.ed26a8","type":"ui_group","z":"","name":"Alarmas","tab":"3d539579.c59b3a","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d539579.c59b3a","type":"ui_tab","z":"","name":"Controlador de eventos","icon":"dashboard","order":15,"disabled":false,"hidden":false},{"id":"5d20bbfd.866fb4","type":"function","z":"618c5a06.9531f4","name":"Fechav2","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        dt = currentdate.getMonth()+1 + \"/\" +\n        currentdate.getDate() + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        \n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":195,"y":75,"wires":[[]]},{"id":"7540840e.11798c","type":"function","z":"e7441e26.0cf98","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"3fba2a33.65a426","type":"function","z":"233f85d7.0c906a","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"316b6a2d.44c156","type":"function","z":"7d112cb5.73b524","name":"fechaHora","func":"var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;","outputs":1,"noerr":0,"x":205,"y":75,"wires":[[]]},{"id":"b0b0df78.95ffa","type":"mqtt in","z":"ff9cd34.de9143","name":"Recibe Json Sensores","topic":"proyecto/3364/customer/jbobadilla-iotdevice/sensores","qos":"0","datatype":"json","broker":"a9d85d7.1bd16a","x":130,"y":195,"wires":[["4619c927.add6e8","64836987.badbe8"]]},{"id":"cfcf991f.2fb768","type":"comment","z":"ff9cd34.de9143","name":"Recibe Data","info":"","x":100,"y":75,"wires":[]},{"id":"d47bd5ae.0b1168","type":"comment","z":"ff9cd34.de9143","name":"Suscribir a topic","info":"","x":110,"y":135,"wires":[]},{"id":"4619c927.add6e8","type":"debug","z":"ff9cd34.de9143","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":195,"wires":[]},{"id":"bfa174e0.85cb28","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":0,"width":"5","height":"5","gtype":"gage","title":"Planta Baja ","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":285,"wires":[]},{"id":"6f9d174f.9e9898","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":1,"width":"5","height":"5","gtype":"gage","title":"Planta Alta","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":330,"wires":[]},{"id":"63e06f68.54e92","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":2,"width":"5","height":"5","gtype":"gage","title":"Exterior","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":405,"y":375,"wires":[]},{"id":"2be80e4f.fef872","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":3,"width":"5","height":"5","gtype":"gage","title":"%Humedad","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":420,"wires":[]},{"id":"64836987.badbe8","type":"function","z":"ff9cd34.de9143","name":"","func":"vTempPlantaBaja = {payload: msg.payload.tempPlantaBaja}\nvTempPlantaAlta = {payload: msg.payload.tempPlantaAlta}\nvTempExterior = {payload: msg.payload.tempExterior}\nvHumedadCasa = {payload: msg.payload.humedadCasa}\n\nreturn [vTempPlantaBaja, vTempPlantaAlta, vTempExterior, vHumedadCasa];","outputs":4,"noerr":0,"x":230,"y":330,"wires":[["bfa174e0.85cb28"],["6f9d174f.9e9898"],["63e06f68.54e92"],["2be80e4f.fef872","4a8f2363.516afc"]]},{"id":"4a8f2363.516afc","type":"debug","z":"ff9cd34.de9143","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":385,"y":510,"wires":[]},{"id":"ea9a3e5.21d28c","type":"comment","z":"2e1ed24a.38967e","name":"Declara variables","info":"","x":140,"y":100,"wires":[]},{"id":"74e04a8e.bfeb84","type":"inject","z":"2e1ed24a.38967e","name":"Arduino setup()","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":140,"y":160,"wires":[["eb3637c8.451b58"]]},{"id":"7bce5203.933e4c","type":"inject","z":"2e1ed24a.38967e","name":"Arduino loop()","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":220,"wires":[["d81ce691.f17948"]]},{"id":"eb3637c8.451b58","type":"function","z":"2e1ed24a.38967e","name":"Declarar inicio de variables","func":"\nglobal.set('gIdCustomer', 'luisrios-iotdevice');\n\n//INPUTS\n_temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\nglobal.set('gTemperatura', _temp);\nglobal.set('gMovimiento', _temp);\n_temp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\nglobal.set('gHumedadCasa', _temp);\n_temp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\nglobal.set('gNivelCisterna', _temp);\n\n//OUTPUTS\n//1. Actuadores\nglobal.set('gLuzSala', 0);\nglobal.set('gLuzBaño', 0);\nglobal.set('gLuzCocina', 0);\nglobal.set('gLuzDormitorio', 0);\nglobal.set('gLuzLavanderia', 0);\nglobal.set('gLuzExterior', 0);\nglobal.set('gLuzGarage', 0);\nglobal.set('gTermaAgua', 0);\n\n//2. Alarmas\nglobal.set('gAlarmaPuertaPrincipal', 0);\nglobal.set('gAlarmaGarage', 0);\nglobal.set('gAlarmaJardin', 0);\nglobal.set('gAlarmaHumo', 0);\nglobal.set('gAlarmaSeguridad', 0);\nglobal.set('gAlarmaTemperautra', 0);\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[[]]},{"id":"d81ce691.f17948","type":"function","z":"2e1ed24a.38967e","name":"Generador de señales","func":"\nvar temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gTemperatura') * 0.5;\nglobal.set('gTemperatura', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gMovimiento') * 0.5;\nglobal.set('gMovimiento', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\ntemp = temp * 0.3 + global.get('gHumedadCasa') * 0.7;\nglobal.set('gHumedadCasa', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\ntemp = temp * 0.4 + global.get('gNivelCisterna') * 0.6;\nglobal.set('gNivelCisterna', temp.toFixed(2)); //2 decimales\n\nmsg.payload = \"#STATUS\" +\n    \"|\" + global.get('gTemperatura') + \n    \"|\" + global.get('gMovimiento') + \n    \"|\" + global.get('gHumo') + \n    \"|\" + global.get('gNivelCisterna'); \n  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["c5b40ca4.1af82"]]},{"id":"9c46495f.3cbcf8","type":"function","z":"2e1ed24a.38967e","name":"Event controller","func":"msg.payload = \"#EVENTO\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.deviceValue;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["c5b40ca4.1af82"]]},{"id":"c7df7f07.4406","type":"function","z":"2e1ed24a.38967e","name":"Alert controller","func":"msg.payload = \"#ALARMA\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.tipo + \n    \"|\" + msg.deviceValue + \n    \"|\" + msg.zona;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["c5b40ca4.1af82"]]},{"id":"5fa76e09.1d43e","type":"link in","z":"2e1ed24a.38967e","name":"","links":["55549e0f.75b2d"],"x":75,"y":280,"wires":[["9c46495f.3cbcf8"]],"icon":"node-red/light.svg"},{"id":"cbe37ea7.6a638","type":"link in","z":"2e1ed24a.38967e","name":"","links":["648fd0fe.f0801"],"x":75,"y":320,"wires":[["c7df7f07.4406"]],"icon":"node-red/comment.svg"},{"id":"c5b40ca4.1af82","type":"link out","z":"2e1ed24a.38967e","name":"","links":["6182c319.64b75c"],"x":555,"y":280,"wires":[],"icon":"node-red/trigger.svg"},{"id":"44b9c696.98ad48","type":"comment","z":"2e1ed24a.38967e","name":"Disparador de eventos por Panel de control","info":"Simulamos una ccon diferentes sensores que monitorean su funcionamiento","x":220,"y":380,"wires":[]},{"id":"49b7bf92.2ab2a","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz cocina - comedor","label":"Luz cocina - comedor","tooltip":"Enciende / apaga la luz del ambiente","group":"875846b7.fa6a68","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":500,"wires":[["4eda92b3.583e0c"]]},{"id":"5e3eaaa7.036bb4","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz dormitorio","label":"Luz dormitorio","tooltip":"Enciende / apaga la luz del ambiente","group":"875846b7.fa6a68","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":540,"wires":[["1ceba619.02412a"]]},{"id":"4eda92b3.583e0c","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzCocina' , msg.payload)\nmsg.deviceName = \"Luz Cocina\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["55549e0f.75b2d"]]},{"id":"1ceba619.02412a","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzDormitorio' , msg.payload);\nmsg.deviceName = \"Luz Dormitorio\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["55549e0f.75b2d"]]},{"id":"55549e0f.75b2d","type":"link out","z":"2e1ed24a.38967e","name":"","links":["5fa76e09.1d43e"],"x":555,"y":640,"wires":[],"icon":"node-red/light.svg"},{"id":"ade06dc9.1101b","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luces exteriores","label":"Luces exteriores","tooltip":"","group":"875846b7.fa6a68","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":700,"wires":[["978aacf6.86c98"]]},{"id":"41659d74.60bfe4","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz Sala","label":"Luz Sala","tooltip":"","group":"875846b7.fa6a68","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":460,"wires":[["e1b9026e.caf87"]]},{"id":"978aacf6.86c98","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzExterior' , msg.payload);\nmsg.deviceName = \"Luz Exterior\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["55549e0f.75b2d"]]},{"id":"e1b9026e.caf87","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzSala' , msg.payload);\nmsg.deviceName = \"Luz Sala\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["55549e0f.75b2d"]]},{"id":"fdfea917.9c7aa8","type":"comment","z":"2e1ed24a.38967e","name":"Simulador arduino","info":"","x":290,"y":40,"wires":[]},{"id":"87604d36.c8705","type":"ui_slider","z":"2e1ed24a.38967e","name":"Sensor de humo (0-100)","label":"Sensor de humo (0-100)","tooltip":"","group":"c1e276d3.ed26a8","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":170,"y":900,"wires":[["9cc517cd.1ad7e8"]]},{"id":"9cc517cd.1ad7e8","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaHumo' , msg.payload)\nmsg.deviceName = \"Sensor Humo\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Cocina\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n    case (msg.payload <= 100):\n        msg.tipo = \"CONTAMINADO\";\n        break;\n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":900,"wires":[["648fd0fe.f0801"]]},{"id":"648fd0fe.f0801","type":"link out","z":"2e1ed24a.38967e","name":"","links":["cbe37ea7.6a638"],"x":515,"y":860,"wires":[],"icon":"node-red/comment.svg"},{"id":"1a0d0bc5.755484","type":"ui_switch","z":"2e1ed24a.38967e","name":"Alarma puerta principal","label":"Alarma puerta principal","tooltip":"","group":"c1e276d3.ed26a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":170,"y":780,"wires":[["a31faee2.4b883"]]},{"id":"c4afed74.95622","type":"ui_switch","z":"2e1ed24a.38967e","name":"","label":"Alarma puerta Garage","tooltip":"","group":"c1e276d3.ed26a8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":820,"wires":[["17477994.b49906"]]},{"id":"17477994.b49906","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaGarage' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Puerta garage\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":820,"wires":[["648fd0fe.f0801"]]},{"id":"a31faee2.4b883","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaPuertaPrincipal' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Puerta principal\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["648fd0fe.f0801"]]},{"id":"efc646b7.4dd138","type":"ui_slider","z":"2e1ed24a.38967e","name":"Sensor de movimiento (0-100)","label":"Sensor de movimiento (0-100)","tooltip":"","group":"c1e276d3.ed26a8","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":190,"y":940,"wires":[["4d81e90.fec9018"]]},{"id":"4d81e90.fec9018","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaSeguridad' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Interior\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":940,"wires":[["648fd0fe.f0801"]]},{"id":"5d621f6d.9b036","type":"ui_switch","z":"2e1ed24a.38967e","name":"","label":"Alarma jardin exterior","tooltip":"","group":"c1e276d3.ed26a8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":860,"wires":[["c8840122.b3d42"]]},{"id":"c8840122.b3d42","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaJardin' , msg.payload)\nmsg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Jardin exterior\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["648fd0fe.f0801"]]},{"id":"597ee999.d7fb38","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz baño","label":"Luz servicio","tooltip":"","group":"875846b7.fa6a68","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":580,"wires":[["f9161012.a25de"]]},{"id":"a9253872.160b08","type":"ui_switch","z":"2e1ed24a.38967e","name":"","label":"Terma de agua","tooltip":"","group":"875846b7.fa6a68","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"num","onicon":"","oncolor":"","offvalue":false,"offvalueType":"num","officon":"","offcolor":"","x":140,"y":740,"wires":[["16c72a3.bd794d6"]]},{"id":"f9161012.a25de","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzservicio' , msg.payload)\nmsg.deviceName = \"Luz servicio\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["55549e0f.75b2d"]]},{"id":"16c72a3.bd794d6","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gTermaAgua' , msg.payload)\nmsg.deviceName = \"Terma Agua\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["55549e0f.75b2d"]]},{"id":"b73b789e.cb90a8","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz garage","label":"Luz garage","tooltip":"","group":"875846b7.fa6a68","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":660,"wires":[["9309244b.29e1b8"]]},{"id":"9309244b.29e1b8","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzGarage' , msg.payload);\nmsg.deviceName = \"Luz Garage\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["55549e0f.75b2d"]]},{"id":"9e9d8375.c0fdb","type":"ui_switch","z":"2e1ed24a.38967e","name":"Luz lavanderia","label":"Luz lavanderia","tooltip":"","group":"875846b7.fa6a68","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":620,"wires":[["e7651dd5.fc12e"]]},{"id":"e7651dd5.fc12e","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gLuzlavanderia' , msg.payload)\nmsg.deviceName = \"Luz lavanderia\"\nmsg.deviceValue = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["55549e0f.75b2d"]]},{"id":"fd17a909.e0ff28","type":"ui_slider","z":"2e1ed24a.38967e","name":"Sensor de temperatura (0-100)","label":"Sensor de temperatura (0-100)","tooltip":"","group":"c1e276d3.ed26a8","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":190,"y":980,"wires":[["96fecd19.81eab"]]},{"id":"96fecd19.81eab","type":"function","z":"2e1ed24a.38967e","name":"","func":"global.set('gAlarmaTemperatura' , msg.payload)\nmsg.deviceName = \"Sensor Temperatura\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Interior\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n}\nif (msg.payload >= 30) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":390,"y":980,"wires":[["648fd0fe.f0801"]]}]