Internet de las cosas/flows (6).json
[
    {
        "id": "dedd755e.bcb368",
        "type": "tab",
        "label": "Simulador Arduino Oficial",
        "disabled": false,
        "info": "Simulamos una agencia de banco que atiende con 6 ventanillas.  Los sensores indican si la ventanilla está ocupada (rojo) o libre (verde). Asimismo se sensa la temperatura del ambiente"
    },
    {
        "id": "4ded69d2.844138",
        "type": "tab",
        "label": "MQTT controller - 3364",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff9cd34.de9143",
        "type": "tab",
        "label": "Remote Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b45057c5.8f7d58",
        "type": "subflow",
        "name": "getFechaHora",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "formato",
                "type": "str",
                "value": "DMA"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "618c5a06.9531f4",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 75,
                "wires": [
                    {
                        "id": "5d20bbfd.866fb4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 330,
                "y": 75,
                "wires": [
                    {
                        "id": "5d20bbfd.866fb4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "formato",
                "type": "str",
                "value": "MDA"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "e7441e26.0cf98",
        "type": "subflow",
        "name": "getFechaHora (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 75,
                "wires": [
                    {
                        "id": "7540840e.11798c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 75,
                "wires": [
                    {
                        "id": "7540840e.11798c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "formato",
                "type": "str",
                "value": "DMA"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "233f85d7.0c906a",
        "type": "subflow",
        "name": "getFechaHora (3)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 75,
                "wires": [
                    {
                        "id": "3fba2a33.65a426"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 75,
                "wires": [
                    {
                        "id": "3fba2a33.65a426",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "formato",
                "type": "str",
                "value": "DMA"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 335,
            "y": 150,
            "wires": [
                {
                    "id": "3fba2a33.65a426",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "7d112cb5.73b524",
        "type": "subflow",
        "name": "getFechaHora (4)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 75,
                "wires": [
                    {
                        "id": "316b6a2d.44c156"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 75,
                "wires": [
                    {
                        "id": "316b6a2d.44c156",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "formato",
                "type": "str",
                "value": "DMA"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 335,
            "y": 150,
            "wires": [
                {
                    "id": "316b6a2d.44c156",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "a1038240.892b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a4958be8.ea7008",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "cefb8e77.20234",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a4958be8.ea7008",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3973116f.89500e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4af0f1be.6f545",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "4af0f1be.6f545",
        "type": "ui_tab",
        "z": "",
        "name": "Block 3364",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b23773b6.b8bdf",
        "type": "MySQLdatabase",
        "z": "",
        "name": "databaseminaya",
        "host": "remotemysql.com",
        "port": "3306",
        "db": "Oq6Ouo02gU",
        "tz": ""
    },
    {
        "id": "99441cc.7e3cfe",
        "type": "ui_group",
        "z": "",
        "name": "Controlador de Eventos",
        "tab": "1c1e61e3.b008ee",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": true
    },
    {
        "id": "1c1e61e3.b008ee",
        "type": "ui_tab",
        "z": "",
        "name": "Arduino",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c85b2ea.5a7d5c",
        "type": "MySQLdatabase",
        "z": "",
        "name": "Remote MySQL",
        "host": "remotemysql.com",
        "port": "3306",
        "db": "5Ndj70uSZs",
        "tz": ""
    },
    {
        "id": "f1275eed.033ca",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "d7cfc8b5.02f4e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d7cfc8b5.02f4e8",
        "type": "ui_tab",
        "z": "",
        "name": "Bloque 3364",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e716fb3.3bce4",
        "type": "MySQLdatabase",
        "z": "",
        "name": "Remote MySQL",
        "host": "remotemysql.com",
        "port": "3306",
        "db": "5Ndj70uSZs",
        "tz": ""
    },
    {
        "id": "650e9fb.71b106",
        "type": "ui_group",
        "z": "",
        "name": "Sensores",
        "tab": "21008613.21280a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21008613.21280a",
        "type": "ui_tab",
        "z": "",
        "name": "Bloque 3364",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab37dac7.d43ad8",
        "type": "ui_group",
        "z": "",
        "name": "Actuadores",
        "tab": "21008613.21280a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d89d86ff.dd3188",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "jbobadilla-cursoiot",
        "loginType": "none"
    },
    {
        "id": "a9c11024.f9c76",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "rbenitez-cursoiot",
        "loginType": "none"
    },
    {
        "id": "5c3aab9b.f50de4",
        "type": "ui_tab",
        "z": "",
        "name": "Cliente",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c19668e3.5c0578",
        "type": "ui_group",
        "z": "",
        "name": "Registro Cliente",
        "tab": "5c3aab9b.f50de4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "46fc572a.bafca8",
        "type": "ui_group",
        "z": "",
        "name": "Controlador de Eventos",
        "tab": "4999e62e.880d88",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": true
    },
    {
        "id": "198d4d04.3eb993",
        "type": "ui_group",
        "z": "",
        "name": "Alarmas",
        "tab": "4999e62e.880d88",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4999e62e.880d88",
        "type": "ui_tab",
        "z": "",
        "name": "Arduino",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2a411e2.996f1",
        "type": "ui_group",
        "z": "",
        "name": "Info Cliente",
        "tab": "21008613.21280a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9d85d7.1bd16a",
        "type": "mqtt-broker",
        "z": "",
        "name": "hiveMQTT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1f8cc1b0.544ace",
        "type": "ui_tab",
        "z": "",
        "name": "Remote Controller",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cee4583f.7162c8",
        "type": "ui_group",
        "z": "",
        "name": "Info Cliente",
        "tab": "1f8cc1b0.544ace",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8145e5cf.6ae228",
        "type": "ui_group",
        "z": "",
        "name": "Monitor Sensores Casa",
        "tab": "1f8cc1b0.544ace",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5d20bbfd.866fb4",
        "type": "function",
        "z": "618c5a06.9531f4",
        "name": "Fechav2",
        "func": "var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        dt = currentdate.getMonth()+1 + \"/\" +\n        currentdate.getDate() + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        \n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 195,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "7540840e.11798c",
        "type": "function",
        "z": "e7441e26.0cf98",
        "name": "fechaHora",
        "func": "var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 205,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "3fba2a33.65a426",
        "type": "function",
        "z": "233f85d7.0c906a",
        "name": "fechaHora",
        "func": "var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 205,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "316b6a2d.44c156",
        "type": "function",
        "z": "7d112cb5.73b524",
        "name": "fechaHora",
        "func": "var currentdate = new Date();\nvar dt;\n\nswitch (env.get('formato')){\n    case \"DMA\":\n        dt = currentdate.getDate() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getFullYear() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"AMD\":\n        dt = currentdate.getFullYear() + \"/\" +\n        (currentdate.getMonth()+1) + \"/\" + \n        currentdate.getDate() + \" \" + \n        currentdate.getHours() + \":\" +\n        currentdate.getMinutes() + \":\" +\n        currentdate.getSeconds();\n        break;\n    case \"MDA\":\n        break;\n    \n}\n\n\nmsg.hora = dt;        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 205,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "1a030295.15003d",
        "type": "comment",
        "z": "dedd755e.bcb368",
        "name": "Bloque Principal",
        "info": "Simulamos una ccon diferentes sensores que monitorean su funcionamiento",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "8cb7a3be.ce25f",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "Declara Inicia Variables",
        "func": "/*\nVariables Globales\nglobalTempAmbiente = Aleatorio entre 20 y 38 grados\nglobalIdOficina = SUC0127001\n*/\n\nglobal.set('gIdCustomer', 'jbobadilla-iotdevice');\n\n//INPUTS\n_temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\nglobal.set('gTempPlantaBaja', _temp);\nglobal.set('gTempPlantaAlta', _temp);\nglobal.set('gTempPlantaExterior', _temp);\n_temp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\nglobal.set('gNivelCisterna', _temp);\n_temp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\nglobal.set('gHumedadCasa', _temp);\n\n//OUTPUTS\n//1. Actuadores\nglobal.set('gLuzComedor', 0);\nglobal.set('gLuzCocina', 0);\nglobal.set('gLuzExterior', 0);\nglobal.set('gLuzGarage', 0);\nglobal.set('gBombaAgua', 0);\nglobal.set('gTermaAgua', 0);\nglobal.set('gPuertaGarage', 0);\n\n//2. Alarmas\nglobal.set('gAlarmaSeguridad', 0);\nglobal.set('gAlarmaHumo', 0);\nglobal.set('gAlarmaGases', 0);\n\n\n",
        "outputs": 0,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "5605a582.0c99fc",
        "type": "inject",
        "z": "dedd755e.bcb368",
        "name": "Arduino Setup()",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "x": 135,
        "y": 120,
        "wires": [
            [
                "8cb7a3be.ce25f"
            ]
        ]
    },
    {
        "id": "c5f6a23e.c39bf",
        "type": "inject",
        "z": "dedd755e.bcb368",
        "name": "Arduino Loop()",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "22158164.ab889e"
            ]
        ]
    },
    {
        "id": "22158164.ab889e",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "Generador Señales",
        "func": "/*\n    Desarrollador: ISIL\n    Descripción: Simulador genera Data aleatoria de temperatura y humedad del objeto\n*/\nvar temp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gTempPlantaBaja') * 0.5;\nglobal.set('gTempPlantaBaja', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gTempPlantaAlta') * 0.5;\nglobal.set('gTempPlantaAlta', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (38 - 20 + 1) + 20).toFixed(2);\ntemp = temp * 0.5 + global.get('gTempPlantaExterior') * 0.5;\nglobal.set('gTempPlantaExterior', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (80 - 35 + 1) + 35).toFixed(2);\ntemp = temp * 0.3 + global.get('gNivelCisterna') * 0.7;\nglobal.set('gNivelCisterna', temp.toFixed(2)); //2 decimales\n\ntemp = Math.floor(Math.random() * (98 - 60 + 1) + 60).toFixed(2);\ntemp = temp * 0.4 + global.get('gHumedadCasa') * 0.6;\nglobal.set('gHumedadCasa', temp.toFixed(2)); //2 decimales\n\nmsg.payload = \"#STATUS\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + global.get('gTempPlantaBaja') + \n    \"|\" + global.get('gTempPlantaAlta') + \n    \"|\" + global.get('gTempPlantaExterior') + \n    \"|\" + global.get('gNivelCisterna') + \n    \"|\" + global.get('gHumedadCasa');\n\nreturn msg;\n\n/*\n//Ventanilla 1\nt = Math.floor(Math.random() * 10);\nif (t%2 === 0){\n        _v1 = {payload: true};\n    } else {\n        _v1 = {payload: false};\n    }\n*/\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "2304fcc.a40e804"
            ]
        ]
    },
    {
        "id": "2304fcc.a40e804",
        "type": "link out",
        "z": "dedd755e.bcb368",
        "name": "Arduino Serial OUTPUT",
        "links": [
            "4ed23e9e.c9b47",
            "5566ca8a.c4f644"
        ],
        "x": 655,
        "y": 280,
        "wires": [],
        "icon": "node-red/trigger.svg"
    },
    {
        "id": "fd1fa9ba.77ce58",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Luz Comedor",
        "tooltip": "Enciende / apaga la luz del ambiente",
        "group": "46fc572a.bafca8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 525,
        "wires": [
            [
                "e2eef85d.f7d128"
            ]
        ]
    },
    {
        "id": "94c772d8.3d0ea",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Luz Cocina",
        "tooltip": "",
        "group": "46fc572a.bafca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 700,
        "y": 565,
        "wires": [
            [
                "664fdfda.9f66a"
            ]
        ]
    },
    {
        "id": "dc8b4c9.12ee1b",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "Event Controller",
        "func": "msg.payload = \"#EVENTO\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.deviceValue;\nreturn msg;\n\n//TRAMA BAJO DEMANDA\n/*\nmsg.payload = \"#EVENTO\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + global.get('gLuzComedor') + \n    \"|\" + global.get('gLuzCocina') + \n    \"|\" + global.get('gLuzExterior') + \n    \"|\" + global.get('gLuzGarage') +\n    \"|\" + global.get('gBombaAgua') + \n    \"|\" + global.get('gTermaAgua') +\n    \"|\" + global.get('gPuertaGarage');\nreturn msg;\n*/\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "2304fcc.a40e804"
            ]
        ]
    },
    {
        "id": "c1cb4ab1.c7b508",
        "type": "comment",
        "z": "dedd755e.bcb368",
        "name": "Disparador de eventos por Panel de control",
        "info": "Simulamos una ccon diferentes sensores que monitorean su funcionamiento",
        "x": 175,
        "y": 380,
        "wires": []
    },
    {
        "id": "e2eef85d.f7d128",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "/*\nDatos\n*/\nglobal.set('gLuzComedor' , msg.payload)\nmsg.deviceName = \"Luz Comedor\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 525,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "dd4e4dfc.fa8f2",
        "type": "link out",
        "z": "dedd755e.bcb368",
        "name": "Arduino Conector Actuadores",
        "links": [
            "558c7cd5.0420a4"
        ],
        "x": 1085,
        "y": 645,
        "wires": [],
        "icon": "node-red/light.svg"
    },
    {
        "id": "558c7cd5.0420a4",
        "type": "link in",
        "z": "dedd755e.bcb368",
        "name": "",
        "links": [
            "dd4e4dfc.fa8f2"
        ],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "dc8b4c9.12ee1b"
            ]
        ],
        "icon": "node-red/light.svg"
    },
    {
        "id": "664fdfda.9f66a",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gLuzCocina' , msg.payload);\nmsg.deviceName = \"Luz Cocina\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 565,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "9ccf817e.4192f",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gLuzGarage' , msg.payload)\nmsg.deviceName = \"Luz Garage\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 645,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "2f9089aa.f1c446",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Luz Garage",
        "tooltip": "",
        "group": "46fc572a.bafca8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 700,
        "y": 645,
        "wires": [
            [
                "9ccf817e.4192f"
            ]
        ]
    },
    {
        "id": "4d2587fd.a88788",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gLuzExterior' , msg.payload)\nmsg.deviceName = \"Luz Exterior\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 605,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "76f4c6.8720bb3c",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Luz Exterior",
        "tooltip": "Enciende / apaga la luz del ambiente",
        "group": "46fc572a.bafca8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 700,
        "y": 605,
        "wires": [
            [
                "4d2587fd.a88788"
            ]
        ]
    },
    {
        "id": "7b21b26d.6aae3c",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "Bomba de agua",
        "label": "Bomba de Agua",
        "tooltip": "",
        "group": "46fc572a.bafca8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 685,
        "wires": [
            [
                "28a08106.556b3e"
            ]
        ]
    },
    {
        "id": "42372673.7e83a8",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "Terma Agua",
        "label": "Terma agua",
        "tooltip": "",
        "group": "46fc572a.bafca8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 700,
        "y": 725,
        "wires": [
            [
                "e3b60646.986b48"
            ]
        ]
    },
    {
        "id": "e828f7a2.94d548",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "Puerta garage",
        "label": "Puerta garage",
        "tooltip": "",
        "group": "46fc572a.bafca8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 765,
        "wires": [
            [
                "634fcb51.4f0374"
            ]
        ]
    },
    {
        "id": "28a08106.556b3e",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gBombaAgua' , msg.payload)\nmsg.deviceName = \"Bomba Agua\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 685,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "e3b60646.986b48",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gTermaAgua' , msg.payload)\nmsg.deviceName = \"Terma Agua\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 725,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "634fcb51.4f0374",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "global.set('gPuertaGarage' , msg.payload)\nmsg.deviceName = \"Puerta Garage\"\nmsg.deviceValue = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 765,
        "wires": [
            [
                "dd4e4dfc.fa8f2"
            ]
        ]
    },
    {
        "id": "504091a2.21f91",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Puerta calle",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 715,
        "y": 840,
        "wires": [
            [
                "649f6755.d83488"
            ]
        ]
    },
    {
        "id": "6fddbcba.3621f4",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "Alert Controller",
        "func": "msg.payload = \"#ALARMA\" +\n    \"|\" + global.get('gIdCustomer') + \n    \"|\" + msg.deviceName +\n    \"|\" + msg.tipo + \n    \"|\" + msg.deviceValue + \n    \"|\" + msg.zona;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "2304fcc.a40e804"
            ]
        ]
    },
    {
        "id": "a1dcd53c.e1f308",
        "type": "link in",
        "z": "dedd755e.bcb368",
        "name": "",
        "links": [
            "f255866e.3a57e8"
        ],
        "x": 195,
        "y": 320,
        "wires": [
            [
                "6fddbcba.3621f4"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "649f6755.d83488",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Puerta calle\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 840,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "f255866e.3a57e8",
        "type": "link out",
        "z": "dedd755e.bcb368",
        "name": "Arduino Conector Alertas",
        "links": [
            "a1dcd53c.e1f308"
        ],
        "x": 1120,
        "y": 960,
        "wires": [],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "389efd5d.700f72",
        "type": "ui_slider",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Sensor GAS (0-100)",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "5",
        "x": 725,
        "y": 1020,
        "wires": [
            [
                "d6979638.e27928"
            ]
        ]
    },
    {
        "id": "d6979638.e27928",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Gas\"\n//msg.tipo = \"Gas\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Cocina\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n    case (msg.payload <= 100):\n        msg.tipo = \"CONTAMINADO\";\n        break;\n}\nif (msg.payload >= 30) {\n    return msg;\n} \n",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 1020,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "afa72483.acca78",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Humo\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Cocina\"\n\nswitch (true){\n    case (msg.payload < 30):\n        msg.tipo = \"NORMAL\";\n        break;\n    case (msg.payload < 50):\n        msg.tipo = \"ALERTA\";\n        break;\n    case (msg.payload < 70):\n        msg.tipo = \"PELIGRO\";\n        break  ;  \n    case (msg.payload <= 100):\n        msg.tipo = \"CONTAMINADO\";\n        break;\n}\nif (msg.payload >= 30) {\n    return msg;\n} \n",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 1080,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "67acd83d.d0ff88",
        "type": "ui_slider",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Sensor Humo (0-100)",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "5",
        "x": 725,
        "y": 1080,
        "wires": [
            [
                "afa72483.acca78"
            ]
        ]
    },
    {
        "id": "230405d6.fc36da",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Jardin interior",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 725,
        "y": 880,
        "wires": [
            [
                "91bbd9aa.949058"
            ]
        ]
    },
    {
        "id": "91bbd9aa.949058",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Jardin interior\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 880,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "ed86c4be.84fca8",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Azotea\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 920,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "49b8d06b.c22de",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Azotea",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 705,
        "y": 920,
        "wires": [
            [
                "ed86c4be.84fca8"
            ]
        ]
    },
    {
        "id": "b9b7183b.5906a8",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "msg.deviceName = \"Sensor Movimiento\"\nmsg.tipo = \"Seguridad\"\nmsg.deviceValue = msg.payload\nmsg.zona = \"Estacionamiento\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 960,
        "wires": [
            [
                "f255866e.3a57e8"
            ]
        ]
    },
    {
        "id": "a63820ac.c8e98",
        "type": "ui_switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "label": "Estacionamiento",
        "tooltip": "",
        "group": "198d4d04.3eb993",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 735,
        "y": 960,
        "wires": [
            [
                "b9b7183b.5906a8"
            ]
        ]
    },
    {
        "id": "f95f2ac1.793748",
        "type": "comment",
        "z": "4ded69d2.844138",
        "name": "Interfaz conexion MQTT",
        "info": "En este Flow programaremos el envio y recepcion \nde datos por MQTT\n\nQoS:\nhivemq.com/blog/mqtt-essentials-part-6-mqtt-quality-of-service-levels\n\n",
        "x": 175,
        "y": 60,
        "wires": []
    },
    {
        "id": "590bfe7d.2c9bf",
        "type": "link in",
        "z": "4ded69d2.844138",
        "name": "",
        "links": [
            "379be0a5.c9773"
        ],
        "x": 90,
        "y": 210,
        "wires": [
            [
                "96814929.d11898",
                "2130b75.82b9748"
            ]
        ]
    },
    {
        "id": "f5e5eaa6.f109c8",
        "type": "comment",
        "z": "4ded69d2.844138",
        "name": "Topic: proyecto/3364/customer/jbobadilla-iotdevice/sensores/tempPlantaBaja",
        "info": "",
        "x": 345,
        "y": 105,
        "wires": []
    },
    {
        "id": "293e087d.31e378",
        "type": "comment",
        "z": "4ded69d2.844138",
        "name": "Data: 25",
        "info": "",
        "x": 135,
        "y": 150,
        "wires": []
    },
    {
        "id": "e43d9e2f.45d6",
        "type": "mqtt out",
        "z": "4ded69d2.844138",
        "name": "Hive MQ",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a9d85d7.1bd16a",
        "x": 450,
        "y": 210,
        "wires": []
    },
    {
        "id": "96814929.d11898",
        "type": "function",
        "z": "4ded69d2.844138",
        "name": "Envio 1 parametro",
        "func": "msg.topic = global.get('gTopic') + '/sensores/tempPlantaBaja'\nmsg.payload = msg.tempPlantaBaja\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 255,
        "y": 210,
        "wires": [
            [
                "e43d9e2f.45d6",
                "857eb1dc.62bf6"
            ]
        ]
    },
    {
        "id": "857eb1dc.62bf6",
        "type": "debug",
        "z": "4ded69d2.844138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "316fbb7c.fcd0d4",
        "type": "comment",
        "z": "4ded69d2.844138",
        "name": "Topic: proyecto/3364/customer/jbobadilla-iotdevice/sensores",
        "info": "",
        "x": 295,
        "y": 420,
        "wires": []
    },
    {
        "id": "a736fa41.536918",
        "type": "comment",
        "z": "4ded69d2.844138",
        "name": "Data: {\"tempPlantaBaja\":\"24\", \"tempExterior\":\"28\"}",
        "info": "",
        "x": 265,
        "y": 465,
        "wires": []
    },
    {
        "id": "2130b75.82b9748",
        "type": "function",
        "z": "4ded69d2.844138",
        "name": "Envio data JSON a MQTT",
        "func": "msg.topic = global.get('gTopic') + '/sensores'\nmsg.payload = {\n    \"tempPlantaBaja\":msg.tempPlantaBaja,\n    \"tempPlantaAlta\" : msg.tempPlantaAlta,\n    \"tempExterior\": msg.tempExterior,\n    \"humedadCasa\": msg.humedadCasa\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 570,
        "wires": [
            [
                "fc9608de.0cf2e8"
            ]
        ]
    },
    {
        "id": "fc9608de.0cf2e8",
        "type": "mqtt out",
        "z": "4ded69d2.844138",
        "name": "Hive MQ",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a9d85d7.1bd16a",
        "x": 495,
        "y": 570,
        "wires": []
    },
    {
        "id": "b0b0df78.95ffa",
        "type": "mqtt in",
        "z": "ff9cd34.de9143",
        "name": "Recibe Json Sensores",
        "topic": "proyecto/3364/customer/jbobadilla-iotdevice/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "a9d85d7.1bd16a",
        "x": 130,
        "y": 195,
        "wires": [
            [
                "4619c927.add6e8",
                "64836987.badbe8"
            ]
        ]
    },
    {
        "id": "cfcf991f.2fb768",
        "type": "comment",
        "z": "ff9cd34.de9143",
        "name": "Recibe Data",
        "info": "",
        "x": 100,
        "y": 75,
        "wires": []
    },
    {
        "id": "d47bd5ae.0b1168",
        "type": "comment",
        "z": "ff9cd34.de9143",
        "name": "Suscribir a topic",
        "info": "",
        "x": 110,
        "y": 135,
        "wires": []
    },
    {
        "id": "4619c927.add6e8",
        "type": "debug",
        "z": "ff9cd34.de9143",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 340,
        "y": 195,
        "wires": []
    },
    {
        "id": "bfa174e0.85cb28",
        "type": "ui_gauge",
        "z": "ff9cd34.de9143",
        "name": "",
        "group": "8145e5cf.6ae228",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Planta Baja ",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 415,
        "y": 285,
        "wires": []
    },
    {
        "id": "6f9d174f.9e9898",
        "type": "ui_gauge",
        "z": "ff9cd34.de9143",
        "name": "",
        "group": "8145e5cf.6ae228",
        "order": 1,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Planta Alta",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 415,
        "y": 330,
        "wires": []
    },
    {
        "id": "63e06f68.54e92",
        "type": "ui_gauge",
        "z": "ff9cd34.de9143",
        "name": "",
        "group": "8145e5cf.6ae228",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Exterior",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 405,
        "y": 375,
        "wires": []
    },
    {
        "id": "2be80e4f.fef872",
        "type": "ui_gauge",
        "z": "ff9cd34.de9143",
        "name": "",
        "group": "8145e5cf.6ae228",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "%Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 415,
        "y": 420,
        "wires": []
    },
    {
        "id": "64836987.badbe8",
        "type": "function",
        "z": "ff9cd34.de9143",
        "name": "",
        "func": "vTempPlantaBaja = {payload: msg.payload.tempPlantaBaja}\nvTempPlantaAlta = {payload: msg.payload.tempPlantaAlta}\nvTempExterior = {payload: msg.payload.tempExterior}\nvHumedadCasa = {payload: msg.payload.humedadCasa}\n\nreturn [vTempPlantaBaja, vTempPlantaAlta, vTempExterior, vHumedadCasa];",
        "outputs": 4,
        "noerr": 0,
        "x": 230,
        "y": 330,
        "wires": [
            [
                "bfa174e0.85cb28"
            ],
            [
                "6f9d174f.9e9898"
            ],
            [
                "63e06f68.54e92"
            ],
            [
                "2be80e4f.fef872",
                "4a8f2363.516afc"
            ]
        ]
    },
    {
        "id": "4a8f2363.516afc",
        "type": "debug",
        "z": "ff9cd34.de9143",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 385,
        "y": 510,
        "wires": []
    },
    {
        "id": "96d2663e.18b528",
        "type": "link in",
        "z": "dedd755e.bcb368",
        "name": "",
        "links": [],
        "x": 285,
        "y": 525,
        "wires": [
            [
                "2f69f32f.b8f5ac"
            ]
        ]
    },
    {
        "id": "2f69f32f.b8f5ac",
        "type": "function",
        "z": "dedd755e.bcb368",
        "name": "",
        "func": "valor = msg.payload.split(\"|\")\nmsg.deviceName = valor[0]\nmsg.payload = parseInt(valor[1])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395,
        "y": 525,
        "wires": [
            [
                "3f12e4e7.f1e70c"
            ]
        ]
    },
    {
        "id": "3f12e4e7.f1e70c",
        "type": "switch",
        "z": "dedd755e.bcb368",
        "name": "",
        "property": "deviceName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "luzComedor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "luzCocina",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "luzExterior",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "luzGarage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 630,
        "wires": [
            [
                "fd1fa9ba.77ce58"
            ],
            [
                "94c772d8.3d0ea"
            ],
            [
                "76f4c6.8720bb3c"
            ],
            [
                "2f9089aa.f1c446"
            ]
        ]
    }
]