Internet de las cosas/flows.json
[{"id":"ff9cd34.de9143","type":"tab","label":"Remote Controller","disabled":false,"info":""},{"id":"b0b0df78.95ffa","type":"mqtt in","z":"ff9cd34.de9143","name":"Recibe Json Sensores","topic":"proyecto/3364/customer/jbobadilla-iotdevice/sensores","qos":"0","datatype":"json","broker":"a9d85d7.1bd16a","x":130,"y":195,"wires":[["4619c927.add6e8","64836987.badbe8"]]},{"id":"cfcf991f.2fb768","type":"comment","z":"ff9cd34.de9143","name":"Recibe Data","info":"","x":100,"y":75,"wires":[]},{"id":"d47bd5ae.0b1168","type":"comment","z":"ff9cd34.de9143","name":"Suscribir a topic","info":"","x":110,"y":135,"wires":[]},{"id":"4619c927.add6e8","type":"debug","z":"ff9cd34.de9143","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":195,"wires":[]},{"id":"bfa174e0.85cb28","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":0,"width":"5","height":"5","gtype":"gage","title":"Planta Baja ","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":285,"wires":[]},{"id":"6f9d174f.9e9898","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":1,"width":"5","height":"5","gtype":"gage","title":"Planta Alta","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":330,"wires":[]},{"id":"63e06f68.54e92","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":2,"width":"5","height":"5","gtype":"gage","title":"Exterior","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":405,"y":375,"wires":[]},{"id":"2be80e4f.fef872","type":"ui_gauge","z":"ff9cd34.de9143","name":"","group":"8145e5cf.6ae228","order":3,"width":"5","height":"5","gtype":"gage","title":"%Humedad","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":415,"y":420,"wires":[]},{"id":"64836987.badbe8","type":"function","z":"ff9cd34.de9143","name":"","func":"vTempPlantaBaja = {payload: msg.payload.tempPlantaBaja}\nvTempPlantaAlta = {payload: msg.payload.tempPlantaAlta}\nvTempExterior = {payload: msg.payload.tempExterior}\nvHumedadCasa = {payload: msg.payload.humedadCasa}\n\nreturn [vTempPlantaBaja, vTempPlantaAlta, vTempExterior, vHumedadCasa];","outputs":4,"noerr":0,"x":230,"y":330,"wires":[["bfa174e0.85cb28"],["6f9d174f.9e9898"],["63e06f68.54e92"],["2be80e4f.fef872","4a8f2363.516afc"]]},{"id":"4a8f2363.516afc","type":"debug","z":"ff9cd34.de9143","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":385,"y":510,"wires":[]},{"id":"a9d85d7.1bd16a","type":"mqtt-broker","z":"","name":"hiveMQTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8145e5cf.6ae228","type":"ui_group","z":"","name":"Monitor Sensores Casa","tab":"1f8cc1b0.544ace","order":2,"disp":true,"width":"12","collapse":false},{"id":"1f8cc1b0.544ace","type":"ui_tab","z":"","name":"Remote Controller","icon":"dashboard","order":8,"disabled":false,"hidden":false}]